@import "../../../styles/variable.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
  color: $text-color-img;

  span {
    font-size: 14px;
    text-decoration: underline;
    color: $rosa;
    text-align: end;
  }
}
